body {
    background-image: url(TCC\ full\ logo.png);
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}
/* Position the navbar container inside the image */
.topnav {
    position: absolute;
    margin: 20px;
    width: auto;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: goldenrod;
}
/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}
.topnav a.active:hover {
    background-color: #ddd;
    color: rgb(219, 166, 32);
}
.photos {
    margin-top: 100px;
}
.hahashima,
.introsem,
.gmun {
    margin-top: 50px;
    position: relative;
    width: 390px;
}
.hahashima_image,
.gmun_image,
.introsem_image {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.hahashima_overlay,
.gmun_overlay,
.introsem_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.hahashima_overlay:hover,
.gmun_overlay:hover,
.introsem_overlay:hover {
    opacity: 1;
}

.hahashima_overlay:hover,
.gmun_overlay:hover,
.introsem_overlay:hover>* {
    transform: translateY(0);
}

.hahashima_overlay,
.gmun_overlay,
.introsem_overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;

}

.hahashima_title,
.gmun_title,
.introsem_title {
    font-size: 1em;
    font-weight: bold;
}

.hahashima_description,
.gmun_description,
.introsem_description {
    font-size: 0.75em;
    margin-top: 0.25em;
}