body {
    background-color: black;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Position the navbar container inside the image */
.topnav {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: goldenrod;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}

.topnav a.active:hover {
    background-color: #ddd;
    color: rgb(219, 166, 32);
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  color: aliceblue;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}